<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <!-- First Bean -->
    <bean id="firstBean" class="com.example.demo.FirstBean">
        <property name="secondBean" ref="secondBean"/>
    </bean>

    <!-- Second Bean -->
    <bean id="secondBean" class="com.example.demo.SecondBean">
        <property name="thirdBean" ref="thirdBean"/>
    </bean>

    <!-- Third Bean -->
    <bean id="thirdBean" class="com.example.demo.ThirdBean">
        <constructor-arg value="${customs.message}"/>
    </bean>

</beans>
